# **Introducción a R para Análisis de Datos**
## Capítulo 2: Data Frames
---
**Autor:** Juan Martin Bellido  

**Descripción**  
En este capítulo comenzamos a trabajar con Data Frames, es decir, tablas de datos, realizando operaciones utilizando exclusivamente sintaxis disponible en R de forma nativa.

**¿Feedback? ¿comentarios?** Por favor compártelo conmigo escribiéndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)  

**Material Adicional**
* [Comandos Jupyter Notebook](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/comandos-rapidos-jupyter)
* [Sintaxis Markdown](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/sintaxis-markdown)


## INDICE
---
1. Introducción a Data Frames
2. Seleccionar elementos en un Data Frame
3. Operaciones básicas con Data Frames
4. Ejercicios

In [ ]:
# instalamos librería "data.table"
install.packages("data.table")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# importamos librerías
require(data.table)

# 1. Introducción a Data Frames
---

### Importar un Data Frame

In [ ]:
# importamos un df
df_jamesbond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")

### Exportar un Data Frame

In [ ]:
# exportar un df
data.table::fwrite(df_jamesbond)

Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Dr. No,1962,Sean Connery,Terence Young,448.8,7,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315,85,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334,27.7,
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533,45.1,
Moonraker,1979,Roger Moore,Lewis Gilbert,535,91.5,
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380,86,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,

### Primeras operaciones con un Data Frame

In [ ]:
# utilizamos la función str() para explorar nuestro data frame
str(df_jamesbond)

Classes ‘data.table’ and 'data.frame':	26 obs. of  7 variables:
 $ Film             : chr  "Dr. No" "From Russia with Love" "Goldfinger" "Thunderball" ...
 $ Year             : int  1962 1963 1964 1965 1967 1967 1969 1971 1973 1974 ...
 $ Actor            : chr  "Sean Connery" "Sean Connery" "Sean Connery" "Sean Connery" ...
 $ Director         : chr  "Terence Young" "Terence Young" "Guy Hamilton" "Terence Young" ...
 $ Box Office       : num  449 544 820 848 315 ...
 $ Budget           : num  7 12.6 18.6 41.9 85 59.9 37.3 34.7 30.8 27.7 ...
 $ Bond Actor Salary: num  0.6 1.6 3.2 4.7 NA 4.4 0.6 5.8 NA NA ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
dim(df_jamesbond)

[1] 26  7

In [ ]:
nrow(df_jamesbond)

[1] 26

In [ ]:
ncol(df_jamesbond)

[1] 7

In [ ]:
head(df_jamesbond)

  Film                  Year Actor        Director      Box Office Budget
1 Dr. No                1962 Sean Connery Terence Young 448.8       7.0
2 From Russia with Love 1963 Sean Connery Terence Young 543.8      12.6
3 Goldfinger            1964 Sean Connery Guy Hamilton  820.4      18.6
4 Thunderball           1965 Sean Connery Terence Young 848.1      41.9
5 Casino Royale         1967 David Niven  Ken Hughes    315.0      85.0
6 You Only Live Twice   1967 Sean Connery Lewis Gilbert 514.2      59.9
  Bond Actor Salary
1 0.6
2 1.6
3 3.2
4 4.7
5  NA
6 4.4

In [ ]:
tail(df_jamesbond)

  Film                    Year Actor          Director        Box Office Budget
1 The World Is Not Enough 1999 Pierce Brosnan Michael Apted   439.5      158.3
2 Die Another Day         2002 Pierce Brosnan Lee Tamahori    465.4      154.2
3 Casino Royale           2006 Daniel Craig   Martin Campbell 581.5      145.3
4 Quantum of Solace       2008 Daniel Craig   Marc Forster    514.2      181.4
5 Skyfall                 2012 Daniel Craig   Sam Mendes      943.5      170.2
6 Spectre                 2015 Daniel Craig   Sam Mendes      726.7      206.3
  Bond Actor Salary
1 13.5
2 17.9
3  3.3
4  8.1
5 14.5
6   NA

In [ ]:
names(df_jamesbond)

[1] "Film"              "Year"              "Actor"
[4] "Director"          "Box Office"        "Budget"
[7] "Bond Actor Salary"

# 2. Seleccionar elementos en un Data Frame
---

### Seleccionar columnas

In [ ]:
# invocamos columna según nombre
df_jamesbond$Film

 [1] "Dr. No"                          "From Russia with Love"
 [3] "Goldfinger"                      "Thunderball"
 [5] "Casino Royale"                   "You Only Live Twice"
 [7] "On Her Majesty's Secret Service" "Diamonds Are Forever"
 [9] "Live and Let Die"                "The Man with the Golden Gun"
[11] "The Spy Who Loved Me"            "Moonraker"
[13] "For Your Eyes Only"              "Never Say Never Again"
[15] "Octopussy"                       "A View to a Kill"
[17] "The Living Daylights"            "Licence to Kill"
[19] "GoldenEye"                       "Tomorrow Never Dies"
[21] "The World Is Not Enough"         "Die Another Day"
[23] "Casino Royale"                   "Quantum of Solace"
[25] "Skyfall"                         "Spectre"

In [ ]:
# nota: en caso de que el nombre del campo esté definido con espacios, debemos utilizar comillas
df_jamesbond$'Box Office'

In [ ]:
# invocamos columna según nombre
df_jamesbond[,'Film']

   Film
1  Dr. No
2  From Russia with Love
3  Goldfinger
4  Thunderball
5  Casino Royale
6  You Only Live Twice
7  On Her Majesty's Secret Service
8  Diamonds Are Forever
9  Live and Let Die
10 The Man with the Golden Gun
11 The Spy Who Loved Me
12 Moonraker
13 For Your Eyes Only
14 Never Say Never Again
15 Octopussy
16 A View to a Kill
17 The Living Daylights
18 Licence to Kill
19 GoldenEye
20 Tomorrow Never Dies
21 The World Is Not Enough
22 Die Another Day
23 Casino Royale
24 Quantum of Solace
25 Skyfall
26 Spectre

In [ ]:
# invocamos columna según nombre
# invocamos múltiples columnas utilizando un vector
df_jamesbond[,c('Film','Director')]

   Film                            Director
1  Dr. No                          Terence Young
2  From Russia with Love           Terence Young
3  Goldfinger                      Guy Hamilton
4  Thunderball                     Terence Young
5  Casino Royale                   Ken Hughes
6  You Only Live Twice             Lewis Gilbert
7  On Her Majesty's Secret Service Peter R. Hunt
8  Diamonds Are Forever            Guy Hamilton
9  Live and Let Die                Guy Hamilton
10 The Man with the Golden Gun     Guy Hamilton
11 The Spy Who Loved Me            Lewis Gilbert
12 Moonraker                       Lewis Gilbert
13 For Your Eyes Only              John Glen
14 Never Say Never Again           Irvin Kershner
15 Octopussy                       John Glen
16 A View to a Kill                John Glen
17 The Living Daylights            John Glen
18 Licence to Kill                 John Glen
19 GoldenEye                       Martin Campbell
20 Tomorrow Never Dies             Roger Spottiswoode
21 The World Is Not Enough         Michael Apted
22 Die Another Day                 Lee Tamahori
23 Casino Royale                   Martin Campbell
24 Quantum of Solace               Marc Forster
25 Skyfall                         Sam Mendes
26 Spectre                         Sam Mendes

In [ ]:
# invocamos columna según posición
df_jamesbond[,1]

   Film
1  Dr. No
2  From Russia with Love
3  Goldfinger
4  Thunderball
5  Casino Royale
6  You Only Live Twice
7  On Her Majesty's Secret Service
8  Diamonds Are Forever
9  Live and Let Die
10 The Man with the Golden Gun
11 The Spy Who Loved Me
12 Moonraker
13 For Your Eyes Only
14 Never Say Never Again
15 Octopussy
16 A View to a Kill
17 The Living Daylights
18 Licence to Kill
19 GoldenEye
20 Tomorrow Never Dies
21 The World Is Not Enough
22 Die Another Day
23 Casino Royale
24 Quantum of Solace
25 Skyfall
26 Spectre

In [ ]:
# invocamos columna según posición
# invocamos múltiples columnas utiliando un vector
df_jamesbond[,c(1,2)]

   Film                            Year
1  Dr. No                          1962
2  From Russia with Love           1963
3  Goldfinger                      1964
4  Thunderball                     1965
5  Casino Royale                   1967
6  You Only Live Twice             1967
7  On Her Majesty's Secret Service 1969
8  Diamonds Are Forever            1971
9  Live and Let Die                1973
10 The Man with the Golden Gun     1974
11 The Spy Who Loved Me            1977
12 Moonraker                       1979
13 For Your Eyes Only              1981
14 Never Say Never Again           1983
15 Octopussy                       1983
16 A View to a Kill                1985
17 The Living Daylights            1987
18 Licence to Kill                 1989
19 GoldenEye                       1995
20 Tomorrow Never Dies             1997
21 The World Is Not Enough         1999
22 Die Another Day                 2002
23 Casino Royale                   2006
24 Quantum of Solace               2008
25 Skyfall                         2012
26 Spectre                         2015

In [ ]:
# invocamos columna según posición
# invocamos columnas según rango
df_jamesbond[,1:3]

   Film                            Year Actor
1  Dr. No                          1962 Sean Connery
2  From Russia with Love           1963 Sean Connery
3  Goldfinger                      1964 Sean Connery
4  Thunderball                     1965 Sean Connery
5  Casino Royale                   1967 David Niven
6  You Only Live Twice             1967 Sean Connery
7  On Her Majesty's Secret Service 1969 George Lazenby
8  Diamonds Are Forever            1971 Sean Connery
9  Live and Let Die                1973 Roger Moore
10 The Man with the Golden Gun     1974 Roger Moore
11 The Spy Who Loved Me            1977 Roger Moore
12 Moonraker                       1979 Roger Moore
13 For Your Eyes Only              1981 Roger Moore
14 Never Say Never Again           1983 Sean Connery
15 Octopussy                       1983 Roger Moore
16 A View to a Kill                1985 Roger Moore
17 The Living Daylights            1987 Timothy Dalton
18 Licence to Kill                 1989 Timothy Dalton
19 GoldenEye                       1995 Pierce Brosnan
20 Tomorrow Never Dies             1997 Pierce Brosnan
21 The World Is Not Enough         1999 Pierce Brosnan
22 Die Another Day                 2002 Pierce Brosnan
23 Casino Royale                   2006 Daniel Craig
24 Quantum of Solace               2008 Daniel Craig
25 Skyfall                         2012 Daniel Craig
26 Spectre                         2015 Daniel Craig

### Seleccionar filas

In [ ]:
# invocamos filas según posición
df_jamesbond[1,]

  Film   Year Actor        Director      Box Office Budget Bond Actor Salary
1 Dr. No 1962 Sean Connery Terence Young 448.8      7      0.6

In [ ]:
# invocamos filas según posición
df_jamesbond[c(1,4,5),]

  Film          Year Actor        Director      Box Office Budget
1 Dr. No        1962 Sean Connery Terence Young 448.8       7.0
2 Thunderball   1965 Sean Connery Terence Young 848.1      41.9
3 Casino Royale 1967 David Niven  Ken Hughes    315.0      85.0
  Bond Actor Salary
1 0.6
2 4.7
3  NA

In [ ]:
# invocamos filas según posición
df_jamesbond[1:10,]

   Film                            Year Actor          Director      Box Office
1  Dr. No                          1962 Sean Connery   Terence Young 448.8
2  From Russia with Love           1963 Sean Connery   Terence Young 543.8
3  Goldfinger                      1964 Sean Connery   Guy Hamilton  820.4
4  Thunderball                     1965 Sean Connery   Terence Young 848.1
5  Casino Royale                   1967 David Niven    Ken Hughes    315.0
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert 514.2
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt 291.5
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton  442.5
9  Live and Let Die                1973 Roger Moore    Guy Hamilton  460.3
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton  334.0
   Budget Bond Actor Salary
1   7.0   0.6
2  12.6   1.6
3  18.6   3.2
4  41.9   4.7
5  85.0    NA
6  59.9   4.4
7  37.3   0.6
8  34.7   5.8
9  30.8    NA
10 27.7    NA

### Combinando métodos

In [ ]:
# invocamos fila según posición, columna según nombre
df_jamesbond[1,'Actor']

  Actor
1 Sean Connery

In [ ]:
# invocamos filas según rango, columnas según nombre
df_jamesbond[1:10,c('Film','Actor','Director')]

   Film                            Actor          Director
1  Dr. No                          Sean Connery   Terence Young
2  From Russia with Love           Sean Connery   Terence Young
3  Goldfinger                      Sean Connery   Guy Hamilton
4  Thunderball                     Sean Connery   Terence Young
5  Casino Royale                   David Niven    Ken Hughes
6  You Only Live Twice             Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service George Lazenby Peter R. Hunt
8  Diamonds Are Forever            Sean Connery   Guy Hamilton
9  Live and Let Die                Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     Roger Moore    Guy Hamilton

### Filtrar filas según condiciones lógicas

In [ ]:
# creamos una prueba lógica
# # nota: el resultado será siempre un vector con booleanos, tendremos tantos booleanos como filas en nuestro df
df_jamesbond$Actor == 'Sean Connery'

 [1]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE
[13] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE

In [ ]:
# de forma alternativa, podríamos conseguir el mismo resultado con la siguiente sintaxis
as.vector(df_jamesbond[,'Actor'] == 'Sean Connery')

 [1]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE
[13] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE

In [ ]:
# utilizamos el vector con booleanos para filtrar filas
# como resultado, conservamos únicamente las filas que se corresponden con valores TRUE en nuestro vector
cond = df_jamesbond$Actor == 'Sean Connery'
df_jamesbond[cond,]

  Film                  Year Actor        Director       Box Office Budget
1 Dr. No                1962 Sean Connery Terence Young  448.8       7.0
2 From Russia with Love 1963 Sean Connery Terence Young  543.8      12.6
3 Goldfinger            1964 Sean Connery Guy Hamilton   820.4      18.6
4 Thunderball           1965 Sean Connery Terence Young  848.1      41.9
5 You Only Live Twice   1967 Sean Connery Lewis Gilbert  514.2      59.9
6 Diamonds Are Forever  1971 Sean Connery Guy Hamilton   442.5      34.7
7 Never Say Never Again 1983 Sean Connery Irvin Kershner 380.0      86.0
  Bond Actor Salary
1 0.6
2 1.6
3 3.2
4 4.7
5 4.4
6 5.8
7  NA

In [ ]:
# podríamos conseguir el mismo resultado sin declarar objetos auxiliares
df_jamesbond[df_jamesbond$Actor == 'Sean Connery',]

  Film                  Year Actor        Director       Box Office Budget
1 Dr. No                1962 Sean Connery Terence Young  448.8       7.0
2 From Russia with Love 1963 Sean Connery Terence Young  543.8      12.6
3 Goldfinger            1964 Sean Connery Guy Hamilton   820.4      18.6
4 Thunderball           1965 Sean Connery Terence Young  848.1      41.9
5 You Only Live Twice   1967 Sean Connery Lewis Gilbert  514.2      59.9
6 Diamonds Are Forever  1971 Sean Connery Guy Hamilton   442.5      34.7
7 Never Say Never Again 1983 Sean Connery Irvin Kershner 380.0      86.0
  Bond Actor Salary
1 0.6
2 1.6
3 3.2
4 4.7
5 4.4
6 5.8
7  NA

In [ ]:
# a continuación, creamos dos objectos auxiliares con condiciones
cond = df_jamesbond$Actor == 'Sean Connery'
cond_2 = df_jamesbond$'Box Office' > 800

In [ ]:
# combinamos ambas condiciones utilizando un operador "and" (&)
# de esta forma, exigimos que ambas condiciones se cumplan de forma simultánea
df_jamesbond[cond & cond_2,]

  Film        Year Actor        Director      Box Office Budget
1 Goldfinger  1964 Sean Connery Guy Hamilton  820.4      18.6
2 Thunderball 1965 Sean Connery Terence Young 848.1      41.9
  Bond Actor Salary
1 3.2
2 4.7

In [ ]:
# combinamos ambas condiciones utilizando un operador "or" (|)
# de esta forma, exigimos simplemente que alguna de las condiciones se cumpla (no necesariamente ambas de forma simultánea)
df_jamesbond[cond | cond_2,]

  Film                  Year Actor        Director       Box Office Budget
1 Dr. No                1962 Sean Connery Terence Young  448.8        7.0
2 From Russia with Love 1963 Sean Connery Terence Young  543.8       12.6
3 Goldfinger            1964 Sean Connery Guy Hamilton   820.4       18.6
4 Thunderball           1965 Sean Connery Terence Young  848.1       41.9
5 You Only Live Twice   1967 Sean Connery Lewis Gilbert  514.2       59.9
6 Diamonds Are Forever  1971 Sean Connery Guy Hamilton   442.5       34.7
7 Never Say Never Again 1983 Sean Connery Irvin Kershner 380.0       86.0
8 Skyfall               2012 Daniel Craig Sam Mendes     943.5      170.2
  Bond Actor Salary
1  0.6
2  1.6
3  3.2
4  4.7
5  4.4
6  5.8
7   NA
8 14.5

In [ ]:
# el operador "in" nos permite testear más de un valor para la misma variable
cond = df_jamesbond$Actor %in% c('Sean Connery','Roger Moore','Pierce Brosnan')
df_jamesbond[cond,]

   Film                        Year Actor          Director
1  Dr. No                      1962 Sean Connery   Terence Young
2  From Russia with Love       1963 Sean Connery   Terence Young
3  Goldfinger                  1964 Sean Connery   Guy Hamilton
4  Thunderball                 1965 Sean Connery   Terence Young
5  You Only Live Twice         1967 Sean Connery   Lewis Gilbert
6  Diamonds Are Forever        1971 Sean Connery   Guy Hamilton
7  Live and Let Die            1973 Roger Moore    Guy Hamilton
8  The Man with the Golden Gun 1974 Roger Moore    Guy Hamilton
9  The Spy Who Loved Me        1977 Roger Moore    Lewis Gilbert
10 Moonraker                   1979 Roger Moore    Lewis Gilbert
11 For Your Eyes Only          1981 Roger Moore    John Glen
12 Never Say Never Again       1983 Sean Connery   Irvin Kershner
13 Octopussy                   1983 Roger Moore    John Glen
14 A View to a Kill            1985 Roger Moore    John Glen
15 GoldenEye                   1995 Pierce Brosnan Martin Campbell
16 Tomorrow Never Dies         1997 Pierce Brosnan Roger Spottiswoode
17 The World Is Not Enough     1999 Pierce Brosnan Michael Apted
18 Die Another Day             2002 Pierce Brosnan Lee Tamahori
   Box Office Budget Bond Actor Salary
1  448.8        7.0   0.6
2  543.8       12.6   1.6
3  820.4       18.6   3.2
4  848.1       41.9   4.7
5  514.2       59.9   4.4
6  442.5       34.7   5.8
7  460.3       30.8    NA
8  334.0       27.7    NA
9  533.0       45.1    NA
10 535.0       91.5    NA
11 449.4       60.2    NA
12 380.0       86.0    NA
13 373.8       53.9   7.8
14 275.2       54.5   9.1
15 518.5       76.9   5.1
16 463.2      133.9  10.0
17 439.5      158.3  13.5
18 465.4      154.2  17.9

# 3. Operaciones básicas con Data Frames
---

In [ ]:
# importamos Data Frame
df_cars = data.table::fread('https://data-wizards.s3.amazonaws.com/datasets/dataset_us_cars.csv')
str(df_cars)

Classes ‘data.table’ and 'data.frame':	2499 obs. of  7 variables:
 $ year   : int  2008 2011 2018 2014 2018 2018 2010 2017 2018 2017 ...
 $ brand  : chr  "toyota" "ford" "dodge" "ford" ...
 $ price  : int  6300 2899 5350 25000 27700 5700 7300 13350 14600 5250 ...
 $ mileage: int  274117 190552 39590 64146 6654 45561 149050 23525 9371 63418 ...
 $ color  : chr  "black" "silver" "silver" "blue" ...
 $ state  : chr  "new jersey" "tennessee" "georgia" "virginia" ...
 $ country: chr  "usa" "usa" "usa" "usa" ...
 - attr(*, ".internal.selfref")=<externalptr>

### Crear una nueva columna a partir de campos

Podemos crear nuevas columnas a partir de campos existentes en nuestro DataFrame.

In [ ]:
# creamos un nuevo campo como operación entre columnas existentes
# versión 1
df_cars$price_eur = df_cars$price / 1.2

In [ ]:
# creamos un nuevo campo como operación entre columnas existentes
# versión 2
df_cars[,'price_eur'] = df_cars$price / 1.2

In [ ]:
# creamos un nuevo campo como operación entre columnas existentes
# versión 1
df_cars[,'price_eur'] = df_cars[,'price'] / 1.2

### Editar campos

In [ ]:
# editamos un campo existante en nuestro Data Frame
# la sintaxis es idéntica a la que usamos para declarar un campo
df_cars$price_eur = round(df_cars$price_eur, 2)

In [ ]:
# invocamos df
df_cars[1:5,c('brand','price_eur')]

  brand     price_eur
1 toyota     5250.00
2 ford       2415.83
3 dodge      4458.33
4 ford      20833.33
5 chevrolet 23083.33

### Eliminar campos en un Data Frame

In [ ]:
# R nos permite utilizar la siguiente sintaxis para omitir seleccionar columnas
df_cars[,-c('brand','price')]

     year mileage color  state          country price_eur
1    2008 274117  black  new jersey     usa      5250.00
2    2011 190552  silver tennessee      usa      2415.83
3    2018  39590  silver georgia        usa      4458.33
4    2014  64146  blue   virginia       usa     20833.33
5    2018   6654  red    florida        usa     23083.33
6    2018  45561  white  texas          usa      4750.00
7    2010 149050  black  georgia        usa      6083.33
8    2017  23525  gray   california     usa     11125.00
9    2018   9371  silver florida        usa     12166.67
10   2017  63418  black  texas          usa      4375.00
11   2009 107856  orange georgia        usa      8666.67
12   2017  39650  white  california     usa     10766.67
13   2018  22909  black  tennessee      usa     26583.33
14   2017 138650  gray   texas          usa      4525.00
15   2013 100757  black  virginia       usa     17250.00
16   2017  25747  white  california     usa     10591.67
17   2018  46194  blue   north carolina usa      4333.33
18   2018  20002  red    tennessee      usa     13750.00
19   2017  35714  white  texas          usa      4341.67
20   2013  54380  gray   virginia       usa     31750.00
21   2017  30114  white  california     usa     10433.33
22   2018  38823  black  north carolina usa      6083.33
23   2015  61578  black  ohio           usa     12500.00
24   2017  46010  blue   texas          usa      5150.00
25   2013 105510  silver virginia       usa     17333.33
26   2017  28040  silver california     usa      9916.67
27   2020  11451  blue   north carolina usa     17916.67
28   2014  31039  brown  ohio           usa     10000.00
29   2017  44174  white  texas          usa      3491.67
30   2008  93698  white  tennessee      usa     10833.33
⋮    ⋮    ⋮       ⋮      ⋮              ⋮       ⋮
2470 2018 34547   white  florida        usa     11583.33
2471 2015 75858   silver illinois       usa      3083.33
2472 2019 31123   white  north carolina usa     15666.67
2473 2018 33808   black  florida        usa      7666.67
2474 2019 30599   black  north carolina usa     25083.33
2475 2018 33931   black  florida        usa      7666.67
2476 2019 40359   black  north carolina usa      9250.00
2477 2018 44313   white  florida        usa     11583.33
2478 2018 33078   black  florida        usa      7583.33
2479 2019 24320   black  illinois       usa     19000.00
2480 2018 42502   black  florida        usa     11583.33
2481 2019 33497   gray   california     usa     10500.00
2482 2018 39577   silver florida        usa      7666.67
2483 2019 36974   gray   california     usa     10083.33
2484 2018 41220   black  florida        usa      7666.67
2485 2019     1   silver california     usa      1916.67
2486 2018 41539   black  florida        usa     11583.33
2487 2019 19646   black  california     usa      7916.67
2488 2018 39924   white  florida        usa     11583.33
2489 2019 33279   red    california     usa      1416.67
2490 2018 40259   gray   florida        usa     11583.33
2491 2019 25264   blue   california     usa      8666.67
2492 2018 35677   black  florida        usa      7666.67
2493 2019 35511   black  california     usa      6166.67
2494 2018 33027   black  florida        usa      7666.67
2495 2019 23609   red    california     usa      6500.00
2496 2018 34553   silver florida        usa      7666.67
2497 2018 31594   silver florida        usa      7666.67
2498 2018 32557   black  florida        usa      7666.67
2499 2018 31371   silver florida        usa      7666.67

In [ ]:
# sobreescribimos el df tras omitir una columna
df_cars = df_cars[,-'price_eur']

In [ ]:
str(df_cars)

Classes ‘data.table’ and 'data.frame':	2499 obs. of  7 variables:
 $ year   : int  2008 2011 2018 2014 2018 2018 2010 2017 2018 2017 ...
 $ brand  : chr  "toyota" "ford" "dodge" "ford" ...
 $ price  : int  6300 2899 5350 25000 27700 5700 7300 13350 14600 5250 ...
 $ mileage: int  274117 190552 39590 64146 6654 45561 149050 23525 9371 63418 ...
 $ color  : chr  "black" "silver" "silver" "blue" ...
 $ state  : chr  "new jersey" "tennessee" "georgia" "virginia" ...
 $ country: chr  "usa" "usa" "usa" "usa" ...
 - attr(*, ".internal.selfref")=<externalptr>

# 4. Ejercicios
---
> 👉 Puedes encontrar las soluciones a los ejercicios [aquí](https://nbviewer.org/github/SomosDataWizards/R-Curso-Introductorio-Ejercicios/blob/main/Capitulo_2_Ejercicios.ipynb)

### Ejercicio #1

##### 1A. Importar dataframe. Seleccionar columnas "name", "homeworld", "species" para las primeras 10 filas del DataFrame.

##### 1B. Seleccionar personajes que a) no sean *species* hombre y b) sean *homeworld* Naboo, Endor o Kashyyyk.

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv*

### Ejercicio #2

##### EX 2A. Importar dataframe. Seleccionar columnas *country*, *director_name*, *imdb_score* para las primeras 10 filas del dataframe
##### EX 2B. Seleccionar películas:  
(i) *producidas fuera de USA o con IMDB score mayor a 8.5*, y  
(ii) *dirigidas por alguno de lo siguientes directores: James Cameron, Peter Jackson, Tim Burton.*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/movies.csv

### Ejercicio #3  

#### EX 3A. Importar dataframe. Seleccionar columnas "Company", "Sector" y "Revenue".
#### EX 3B. Crear una columna "Profits_per_Employee" como operación entre las columnas "Profits" / "Employees".


> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv