# **Introducci√≥n a R para An√°lisis de Datos**
## Cap√≠tulo 3: Manipulaci√≥n de Datos 

**Autor:** Juan Martin Bellido  

**Descripci√≥n**  
En este capitulo aprenderemos a utilizar las librer√≠a *dplyr* para realizar operaciones avanzadas de manipulaci√≥n de datos.

**¬øFeedback? ¬øcomentarios?** Por favor comp√°rtelo conmigo escribi√©ndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)  

**Material Adicional**
* [Comandos Jupyter Notebook](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/comandos-rapidos-jupyter)
* [Sintaxis Markdown](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/sintaxis-markdown)


## INDICE
---
1. Seleccionar columnas 
2. Filtrar filas
3. Ordenar *data frame*
4. Crear nuevos campos
5. Agregar datos
6. Ejercicios

Convenciones utilizadas en este documento
> üëâ *Esto es una nota u observaci√≥n*

> ‚ö†Ô∏è *Esto es una advertencia*

In [ ]:
# instalamos librer√≠a "data.table" porque Google colab no la incluye por defecto
install.packages("data.table")

Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

In [ ]:
# importamos las librer√≠as que utilizaremos
require(dplyr)
require(data.table)

In [ ]:
# (opcional) editamos las opciones globales para evitar que R utilice notaci√≥n cient√≠fica
options(scipen=999)

# 1. Seleccionar columnas 
---

Comenzamos aprendiendo a reducir un *data frame* en n√∫mero de campos (columnas).

### Seleccionando columnas

Para seleccionar columnas espec√≠ficas en un *data frame* utilizaremos la funci√≥n `dplyr::select()`.

```
dplyr::select(df, field_1, field_2 ...)
```

In [ ]:
# importamos un df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", "‚Ä¶
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 19‚Ä¶
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "S‚Ä¶
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton", ‚Ä¶
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, 4‚Ä¶
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30.‚Ä¶
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA,‚Ä¶

In [ ]:
# comenzamos seleccionando dos columnas espec√≠ficas utilizando la sintaxis b√°sica 
dplyr::select(df_james_bond, Film, Director)

   Film                            Director
1  Dr. No                          Terence Young
2  From Russia with Love           Terence Young
3  Goldfinger                      Guy Hamilton
4  Thunderball                     Terence Young
5  Casino Royale                   Ken Hughes
6  You Only Live Twice             Lewis Gilbert
7  On Her Majesty's Secret Service Peter R. Hunt
8  Diamonds Are Forever            Guy Hamilton
9  Live and Let Die                Guy Hamilton
10 The Man with the Golden Gun     Guy Hamilton
11 The Spy Who Loved Me            Lewis Gilbert
12 Moonraker                       Lewis Gilbert
13 For Your Eyes Only              John Glen
14 Never Say Never Again           Irvin Kershner
15 Octopussy                       John Glen
16 A View to a Kill                John Glen
17 The Living Daylights            John Glen
18 Licence to Kill                 John Glen
19 GoldenEye                       Martin Campbell
20 Tomorrow Never Dies             Roger Spottiswoode
21 The World Is Not Enough         Michael Apted
22 Die Another Day                 Lee Tamahori
23 Casino Royale                   Martin Campbell
24 Quantum of Solace               Marc Forster
25 Skyfall                         Sam Mendes
26 Spectre                         Sam Mendes


*R no permite anidar operaciones de forma nativa*. Esto es algo que logramos implementar utilizando un operador espec√≠fico que forma parte de la librer√≠a *dplyr*. Nos referimos a este como el *pipe operator (%>%)*


```
object %>% function() %>% function() ...
```

In [ ]:
# repetimos la operaci√≥n anterior, esta vez utilizando el "pipe operator"
df_james_bond %>% select(
  Film        # columna 1
  ,Director   # columna 2
)

   Film                            Director
1  Dr. No                          Terence Young
2  From Russia with Love           Terence Young
3  Goldfinger                      Guy Hamilton
4  Thunderball                     Terence Young
5  Casino Royale                   Ken Hughes
6  You Only Live Twice             Lewis Gilbert
7  On Her Majesty's Secret Service Peter R. Hunt
8  Diamonds Are Forever            Guy Hamilton
9  Live and Let Die                Guy Hamilton
10 The Man with the Golden Gun     Guy Hamilton
11 The Spy Who Loved Me            Lewis Gilbert
12 Moonraker                       Lewis Gilbert
13 For Your Eyes Only              John Glen
14 Never Say Never Again           Irvin Kershner
15 Octopussy                       John Glen
16 A View to a Kill                John Glen
17 The Living Daylights            John Glen
18 Licence to Kill                 John Glen
19 GoldenEye                       Martin Campbell
20 Tomorrow Never Dies             Roger Spottiswoode
21 The World Is Not Enough         Michael Apted
22 Die Another Day                 Lee Tamahori
23 Casino Royale                   Martin Campbell
24 Quantum of Solace               Marc Forster
25 Skyfall                         Sam Mendes
26 Spectre                         Sam Mendes

In [ ]:
# adicionalmente, al seleccionar columnas podremos renombrar las variables
df_james_bond %>% select(
  james_bond_film = Film                    # seleccionamos una primer columna y la renombramos
  ,film_director = Director                 # seleccionamos una segunda columna y la renombramos
  ,film_budget = Budget                     # seleccionamos una tercer columna y la renombramos
  ,bond_actor_salary = `Bond Actor Salary`  # en este caso, al renombrar la variable sin espacios, nos libraremos de las comillas
)

   james_bond_film                 film_director      film_budget
1  Dr. No                          Terence Young        7.0
2  From Russia with Love           Terence Young       12.6
3  Goldfinger                      Guy Hamilton        18.6
4  Thunderball                     Terence Young       41.9
5  Casino Royale                   Ken Hughes          85.0
6  You Only Live Twice             Lewis Gilbert       59.9
7  On Her Majesty's Secret Service Peter R. Hunt       37.3
8  Diamonds Are Forever            Guy Hamilton        34.7
9  Live and Let Die                Guy Hamilton        30.8
10 The Man with the Golden Gun     Guy Hamilton        27.7
11 The Spy Who Loved Me            Lewis Gilbert       45.1
12 Moonraker                       Lewis Gilbert       91.5
13 For Your Eyes Only              John Glen           60.2
14 Never Say Never Again           Irvin Kershner      86.0
15 Octopussy                       John Glen           53.9
16 A View to a Kill                John Glen           54.5
17 The Living Daylights            John Glen           68.8
18 Licence to Kill                 John Glen           56.7
19 GoldenEye                       Martin Campbell     76.9
20 Tomorrow Never Dies             Roger Spottiswoode 133.9
21 The World Is Not Enough         Michael Apted      158.3
22 Die Another Day                 Lee Tamahori       154.2
23 Casino Royale                   Martin Campbell    145.3
24 Quantum of Solace               Marc Forster       181.4
25 Skyfall                         Sam Mendes         170.2
26 Spectre                         Sam Mendes         206.3
   bond_actor_salary
1   0.6
2   1.6
3   3.2
4   4.7
5    NA
6   4.4
7   0.6
8   5.8
9    NA
10   NA
11   NA
12   NA
13   NA
14   NA
15  7.8
16  9.1
17  5.2
18  7.9
19  5.1
20 10.0
21 13.5
22 17.9
23  3.3
24  8.1
25 14.5
26   NA

In [ ]:
# podemos negar (-) columnas para evitarlas
df_james_bond %>% select(
  -Director
  ,-Budget
)
# en este caso, hemos seleccionado TODAS las variables disponibles en el data frame, salvo dos espec√≠ficas que hemos negativizado

   Film                            Year Actor          Box Office
1  Dr. No                          1962 Sean Connery   448.8
2  From Russia with Love           1963 Sean Connery   543.8
3  Goldfinger                      1964 Sean Connery   820.4
4  Thunderball                     1965 Sean Connery   848.1
5  Casino Royale                   1967 David Niven    315.0
6  You Only Live Twice             1967 Sean Connery   514.2
7  On Her Majesty's Secret Service 1969 George Lazenby 291.5
8  Diamonds Are Forever            1971 Sean Connery   442.5
9  Live and Let Die                1973 Roger Moore    460.3
10 The Man with the Golden Gun     1974 Roger Moore    334.0
11 The Spy Who Loved Me            1977 Roger Moore    533.0
12 Moonraker                       1979 Roger Moore    535.0
13 For Your Eyes Only              1981 Roger Moore    449.4
14 Never Say Never Again           1983 Sean Connery   380.0
15 Octopussy                       1983 Roger Moore    373.8
16 A View to a Kill                1985 Roger Moore    275.2
17 The Living Daylights            1987 Timothy Dalton 313.5
18 Licence to Kill                 1989 Timothy Dalton 250.9
19 GoldenEye                       1995 Pierce Brosnan 518.5
20 Tomorrow Never Dies             1997 Pierce Brosnan 463.2
21 The World Is Not Enough         1999 Pierce Brosnan 439.5
22 Die Another Day                 2002 Pierce Brosnan 465.4
23 Casino Royale                   2006 Daniel Craig   581.5
24 Quantum of Solace               2008 Daniel Craig   514.2
25 Skyfall                         2012 Daniel Craig   943.5
26 Spectre                         2015 Daniel Craig   726.7
   Bond Actor Salary
1   0.6
2   1.6
3   3.2
4   4.7
5    NA
6   4.4
7   0.6
8   5.8
9    NA
10   NA
11   NA
12   NA
13   NA
14   NA
15  7.8
16  9.1
17  5.2
18  7.9
19  5.1
20 10.0
21 13.5
22 17.9
23  3.3
24  8.1
25 14.5
26   NA

In [ ]:
# podemos forzar combinaciones √∫nicas utilizando la funci√≥n unique()
df_james_bond %>% select(
  Director                      # seleccionamos variable Director
) %>% unique()                  # forzamos valores √∫nicos

   Director
1  Terence Young
2  Guy Hamilton
3  Ken Hughes
4  Lewis Gilbert
5  Peter R. Hunt
6  John Glen
7  Irvin Kershner
8  Martin Campbell
9  Roger Spottiswoode
10 Michael Apted
11 Lee Tamahori
12 Marc Forster
13 Sam Mendes

# 2. Filtrando filas
---
A continuaci√≥n, aprenderemos una forma sencilla de filtrar observaciones en funci√≥n de criterios l√≥gicos utilizando la funci√≥n `dplyr::filter()`.


```
dplyr::filter(df, condition_1, condition_2, ...)
```

In [ ]:
# filtramos el df utilizando una condici√≥n
df_james_bond %>% filter(Year>2000) # √∫nicamente pel√≠culas a partir del a√±o 2000

  Film              Year Actor          Director        Box Office Budget
1 Die Another Day   2002 Pierce Brosnan Lee Tamahori    465.4      154.2
2 Casino Royale     2006 Daniel Craig   Martin Campbell 581.5      145.3
3 Quantum of Solace 2008 Daniel Craig   Marc Forster    514.2      181.4
4 Skyfall           2012 Daniel Craig   Sam Mendes      943.5      170.2
5 Spectre           2015 Daniel Craig   Sam Mendes      726.7      206.3
  Bond Actor Salary
1 17.9
2  3.3
3  8.1
4 14.5
5   NA

In [ ]:
# podemos combinar m√∫ltiples funciones de manipulaci√≥n utilizando el "pipe operator"
# el orden de las funciones es fundamental, ya que estamos haciendo operaciones de a pasos y transmitiendo el resultado a la siguiente funci√≥n
df_james_bond %>% select(Film,Year) %>% filter(Year>2000) # si hubi√©ramos omitido seleccionar la columna "year", no podr√≠amos luego filtrar por ese campo

  Film              Year
1 Die Another Day   2002
2 Casino Royale     2006
3 Quantum of Solace 2008
4 Skyfall           2012
5 Spectre           2015

In [ ]:
# en el siguiente ejercicio, filtramos utilizando dos coindicines
# agregar una nueva condici√≥n como par√°metro, es exactamente lo mismo que agregarla utilizando el operador "&" (AND)
df_james_bond %>% filter(
  Year>2000
  ,Actor == 'Daniel Craig'
)

  Film              Year Actor        Director        Box Office Budget
1 Casino Royale     2006 Daniel Craig Martin Campbell 581.5      145.3
2 Quantum of Solace 2008 Daniel Craig Marc Forster    514.2      181.4
3 Skyfall           2012 Daniel Craig Sam Mendes      943.5      170.2
4 Spectre           2015 Daniel Craig Sam Mendes      726.7      206.3
  Bond Actor Salary
1  3.3
2  8.1
3 14.5
4   NA

In [ ]:
# comprobamos que obtenemos el resultado utilizando una √∫nica condici√≥n compuesta por dos elementos
df_james_bond %>% filter(
  Year>2000 & Actor == 'Daniel Craig' # filtramos por pel√≠culas que hayan sido lanzadas a partir de 2000 y cuyo actor sea Daniel Craig
)

  Film              Year Actor        Director        Box Office Budget
1 Casino Royale     2006 Daniel Craig Martin Campbell 581.5      145.3
2 Quantum of Solace 2008 Daniel Craig Marc Forster    514.2      181.4
3 Skyfall           2012 Daniel Craig Sam Mendes      943.5      170.2
4 Spectre           2015 Daniel Craig Sam Mendes      726.7      206.3
  Bond Actor Salary
1  3.3
2  8.1
3 14.5
4   NA

In [ ]:
# distinto ser√≠a si ambos elementos en la condici√≥n fueran de tipo OR ("|")
df_james_bond %>% filter(
  Year>2000 | Actor == 'Daniel Craig' # filtramos por pel√≠culas que hayan sido lanzadas a partir de 2000 o cuyo actor sea Daniel Craig
)

  Film              Year Actor          Director        Box Office Budget
1 Die Another Day   2002 Pierce Brosnan Lee Tamahori    465.4      154.2
2 Casino Royale     2006 Daniel Craig   Martin Campbell 581.5      145.3
3 Quantum of Solace 2008 Daniel Craig   Marc Forster    514.2      181.4
4 Skyfall           2012 Daniel Craig   Sam Mendes      943.5      170.2
5 Spectre           2015 Daniel Craig   Sam Mendes      726.7      206.3
  Bond Actor Salary
1 17.9
2  3.3
3  8.1
4 14.5
5   NA

In [ ]:
# filtramos un campo seg√∫n un vector, utilizando el operador "IN"
df_james_bond %>% filter(
  Actor %in% c('Daniel Craig','Pierce Brosnan','Sean Connery') # filtramos por pel√≠culas cuyos actores sean alguno de los especificados
)

   Film                    Year Actor          Director           Box Office
1  Dr. No                  1962 Sean Connery   Terence Young      448.8
2  From Russia with Love   1963 Sean Connery   Terence Young      543.8
3  Goldfinger              1964 Sean Connery   Guy Hamilton       820.4
4  Thunderball             1965 Sean Connery   Terence Young      848.1
5  You Only Live Twice     1967 Sean Connery   Lewis Gilbert      514.2
6  Diamonds Are Forever    1971 Sean Connery   Guy Hamilton       442.5
7  Never Say Never Again   1983 Sean Connery   Irvin Kershner     380.0
8  GoldenEye               1995 Pierce Brosnan Martin Campbell    518.5
9  Tomorrow Never Dies     1997 Pierce Brosnan Roger Spottiswoode 463.2
10 The World Is Not Enough 1999 Pierce Brosnan Michael Apted      439.5
11 Die Another Day         2002 Pierce Brosnan Lee Tamahori       465.4
12 Casino Royale           2006 Daniel Craig   Martin Campbell    581.5
13 Quantum of Solace       2008 Daniel Craig   Marc Forster       514.2
14 Skyfall                 2012 Daniel Craig   Sam Mendes         943.5
15 Spectre                 2015 Daniel Craig   Sam Mendes         726.7
   Budget Bond Actor Salary
1    7.0   0.6
2   12.6   1.6
3   18.6   3.2
4   41.9   4.7
5   59.9   4.4
6   34.7   5.8
7   86.0    NA
8   76.9   5.1
9  133.9  10.0
10 158.3  13.5
11 154.2  17.9
12 145.3   3.3
13 181.4   8.1
14 170.2  14.5
15 206.3    NA

In [ ]:
# podemos negar condiciones utilizando el operador "!" (negaci√≥n)
df_james_bond %>% filter(
  !Actor %in% c('Daniel Craig','Pierce Brosnan','Sean Connery') # filtramos por pel√≠culas cuyos actores NO sean los especificados
)

   Film                            Year Actor          Director      Box Office
1  Casino Royale                   1967 David Niven    Ken Hughes    315.0
2  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt 291.5
3  Live and Let Die                1973 Roger Moore    Guy Hamilton  460.3
4  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton  334.0
5  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert 533.0
6  Moonraker                       1979 Roger Moore    Lewis Gilbert 535.0
7  For Your Eyes Only              1981 Roger Moore    John Glen     449.4
8  Octopussy                       1983 Roger Moore    John Glen     373.8
9  A View to a Kill                1985 Roger Moore    John Glen     275.2
10 The Living Daylights            1987 Timothy Dalton John Glen     313.5
11 Licence to Kill                 1989 Timothy Dalton John Glen     250.9
   Budget Bond Actor Salary
1  85.0    NA
2  37.3   0.6
3  30.8    NA
4  27.7    NA
5  45.1    NA
6  91.5    NA
7  60.2    NA
8  53.9   7.8
9  54.5   9.1
10 68.8   5.2
11 56.7   7.9

# 3. Ordenar *data frame*
---

In [ ]:
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", "‚Ä¶
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 19‚Ä¶
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "S‚Ä¶
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton", ‚Ä¶
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, 4‚Ä¶
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30.‚Ä¶
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA,‚Ä¶


La funci√≥n `dplyr::arrange()` nos permite establecer un criterio para ordenar filas en un *data frame*.

```
dplyr::arrange(object, columns ...)
```

In [ ]:
# ordenamos el data frame seg√∫n variable texto
df_james_bond %>% arrange(Actor) # por defecto, el criterio es ascendente; al ser campo de tipo texto ser√° en orden alfab√©tico

   Film                            Year Actor          Director
1  Casino Royale                   2006 Daniel Craig   Martin Campbell
2  Quantum of Solace               2008 Daniel Craig   Marc Forster
3  Skyfall                         2012 Daniel Craig   Sam Mendes
4  Spectre                         2015 Daniel Craig   Sam Mendes
5  Casino Royale                   1967 David Niven    Ken Hughes
6  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
7  GoldenEye                       1995 Pierce Brosnan Martin Campbell
8  Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
9  The World Is Not Enough         1999 Pierce Brosnan Michael Apted
10 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
11 Live and Let Die                1973 Roger Moore    Guy Hamilton
12 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
13 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 For Your Eyes Only              1981 Roger Moore    John Glen
16 Octopussy                       1983 Roger Moore    John Glen
17 A View to a Kill                1985 Roger Moore    John Glen
18 Dr. No                          1962 Sean Connery   Terence Young
19 From Russia with Love           1963 Sean Connery   Terence Young
20 Goldfinger                      1964 Sean Connery   Guy Hamilton
21 Thunderball                     1965 Sean Connery   Terence Young
22 You Only Live Twice             1967 Sean Connery   Lewis Gilbert
23 Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
24 Never Say Never Again           1983 Sean Connery   Irvin Kershner
25 The Living Daylights            1987 Timothy Dalton John Glen
26 Licence to Kill                 1989 Timothy Dalton John Glen
   Box Office Budget Bond Actor Salary
1  581.5      145.3   3.3
2  514.2      181.4   8.1
3  943.5      170.2  14.5
4  726.7      206.3    NA
5  315.0       85.0    NA
6  291.5       37.3   0.6
7  518.5       76.9   5.1
8  463.2      133.9  10.0
9  439.5      158.3  13.5
10 465.4      154.2  17.9
11 460.3       30.8    NA
12 334.0       27.7    NA
13 533.0       45.1    NA
14 535.0       91.5    NA
15 449.4       60.2    NA
16 373.8       53.9   7.8
17 275.2       54.5   9.1
18 448.8        7.0   0.6
19 543.8       12.6   1.6
20 820.4       18.6   3.2
21 848.1       41.9   4.7
22 514.2       59.9   4.4
23 442.5       34.7   5.8
24 380.0       86.0    NA
25 313.5       68.8   5.2
26 250.9       56.7   7.9

In [ ]:
# ordenamos seg√∫n dos variables
df_james_bond %>% arrange(Actor,`Box Office`)

   Film                            Year Actor          Director
1  Quantum of Solace               2008 Daniel Craig   Marc Forster
2  Casino Royale                   2006 Daniel Craig   Martin Campbell
3  Spectre                         2015 Daniel Craig   Sam Mendes
4  Skyfall                         2012 Daniel Craig   Sam Mendes
5  Casino Royale                   1967 David Niven    Ken Hughes
6  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
7  The World Is Not Enough         1999 Pierce Brosnan Michael Apted
8  Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
9  Die Another Day                 2002 Pierce Brosnan Lee Tamahori
10 GoldenEye                       1995 Pierce Brosnan Martin Campbell
11 A View to a Kill                1985 Roger Moore    John Glen
12 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
13 Octopussy                       1983 Roger Moore    John Glen
14 For Your Eyes Only              1981 Roger Moore    John Glen
15 Live and Let Die                1973 Roger Moore    Guy Hamilton
16 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
17 Moonraker                       1979 Roger Moore    Lewis Gilbert
18 Never Say Never Again           1983 Sean Connery   Irvin Kershner
19 Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
20 Dr. No                          1962 Sean Connery   Terence Young
21 You Only Live Twice             1967 Sean Connery   Lewis Gilbert
22 From Russia with Love           1963 Sean Connery   Terence Young
23 Goldfinger                      1964 Sean Connery   Guy Hamilton
24 Thunderball                     1965 Sean Connery   Terence Young
25 Licence to Kill                 1989 Timothy Dalton John Glen
26 The Living Daylights            1987 Timothy Dalton John Glen
   Box Office Budget Bond Actor Salary
1  514.2      181.4   8.1
2  581.5      145.3   3.3
3  726.7      206.3    NA
4  943.5      170.2  14.5
5  315.0       85.0    NA
6  291.5       37.3   0.6
7  439.5      158.3  13.5
8  463.2      133.9  10.0
9  465.4      154.2  17.9
10 518.5       76.9   5.1
11 275.2       54.5   9.1
12 334.0       27.7    NA
13 373.8       53.9   7.8
14 449.4       60.2    NA
15 460.3       30.8    NA
16 533.0       45.1    NA
17 535.0       91.5    NA
18 380.0       86.0    NA
19 442.5       34.7   5.8
20 448.8        7.0   0.6
21 514.2       59.9   4.4
22 543.8       12.6   1.6
23 820.4       18.6   3.2
24 848.1       41.9   4.7
25 250.9       56.7   7.9
26 313.5       68.8   5.2

In [ ]:
# para cambiar el criterio de orden a descendente, debemos utilizar la funci√≥n desc() en el par√°metro de la funci√≥n arrange()
df_james_bond %>% arrange(desc(`Box Office`))

   Film                            Year Actor          Director
1  Skyfall                         2012 Daniel Craig   Sam Mendes
2  Thunderball                     1965 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Spectre                         2015 Daniel Craig   Sam Mendes
5  Casino Royale                   2006 Daniel Craig   Martin Campbell
6  From Russia with Love           1963 Sean Connery   Terence Young
7  Moonraker                       1979 Roger Moore    Lewis Gilbert
8  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
9  GoldenEye                       1995 Pierce Brosnan Martin Campbell
10 You Only Live Twice             1967 Sean Connery   Lewis Gilbert
11 Quantum of Solace               2008 Daniel Craig   Marc Forster
12 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
13 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
14 Live and Let Die                1973 Roger Moore    Guy Hamilton
15 For Your Eyes Only              1981 Roger Moore    John Glen
16 Dr. No                          1962 Sean Connery   Terence Young
17 Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
18 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
19 Never Say Never Again           1983 Sean Connery   Irvin Kershner
20 Octopussy                       1983 Roger Moore    John Glen
21 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
22 Casino Royale                   1967 David Niven    Ken Hughes
23 The Living Daylights            1987 Timothy Dalton John Glen
24 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
25 A View to a Kill                1985 Roger Moore    John Glen
26 Licence to Kill                 1989 Timothy Dalton John Glen
   Box Office Budget Bond Actor Salary
1  943.5      170.2  14.5
2  848.1       41.9   4.7
3  820.4       18.6   3.2
4  726.7      206.3    NA
5  581.5      145.3   3.3
6  543.8       12.6   1.6
7  535.0       91.5    NA
8  533.0       45.1    NA
9  518.5       76.9   5.1
10 514.2       59.9   4.4
11 514.2      181.4   8.1
12 465.4      154.2  17.9
13 463.2      133.9  10.0
14 460.3       30.8    NA
15 449.4       60.2    NA
16 448.8        7.0   0.6
17 442.5       34.7   5.8
18 439.5      158.3  13.5
19 380.0       86.0    NA
20 373.8       53.9   7.8
21 334.0       27.7    NA
22 315.0       85.0    NA
23 313.5       68.8   5.2
24 291.5       37.3   0.6
25 275.2       54.5   9.1
26 250.9       56.7   7.9

# 4. Crear nuevos campos
---
La funci√≥n `dplyr::mutate()` permite crear columnas nuevas en un *data frame*.

```
dplyr::mutate(df, new_field_1, new_field 2, ...)
```

In [ ]:
# creamos una nueva columna como cosciente entre dos variables existentes
df_james_bond %>% mutate(
  profit = `Box Office`/Budget    # nombramos nuestra nueva columna "profit"
) %>% arrange(desc(profit))       # ordenamos el resultado, seg√∫n la nueva columna definida

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  Goldfinger                      1964 Sean Connery   Guy Hamilton
3  From Russia with Love           1963 Sean Connery   Terence Young
4  Thunderball                     1965 Sean Connery   Terence Young
5  Live and Let Die                1973 Roger Moore    Guy Hamilton
6  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
7  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
8  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
9  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
10 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
11 For Your Eyes Only              1981 Roger Moore    John Glen
12 Octopussy                       1983 Roger Moore    John Glen
13 GoldenEye                       1995 Pierce Brosnan Martin Campbell
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 Skyfall                         2012 Daniel Craig   Sam Mendes
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 Never Say Never Again           1983 Sean Connery   Irvin Kershner
20 Casino Royale                   2006 Daniel Craig   Martin Campbell
21 Casino Royale                   1967 David Niven    Ken Hughes
22 Spectre                         2015 Daniel Craig   Sam Mendes
23 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
24 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
25 Quantum of Solace               2008 Daniel Craig   Marc Forster
26 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
   Box Office Budget Bond Actor Salary profit
1  448.8        7.0   0.6              64.114286
2  820.4       18.6   3.2              44.107527
3  543.8       12.6   1.6              43.158730
4  848.1       41.9   4.7              20.241050
5  460.3       30.8    NA              14.944805
6  442.5       34.7   5.8              12.752161
7  334.0       27.7    NA              12.057762
8  533.0       45.1    NA              11.818182
9  514.2       59.9   4.4               8.584307
10 291.5       37.3   0.6               7.815013
11 449.4       60.2    NA               7.465116
12 373.8       53.9   7.8               6.935065
13 518.5       76.9   5.1               6.742523
14 535.0       91.5    NA               5.846995
15 943.5      170.2  14.5               5.543478
16 275.2       54.5   9.1               5.049541
17 313.5       68.8   5.2               4.556686
18 250.9       56.7   7.9               4.425044
19 380.0       86.0    NA               4.418605
20 581.5      145.3   3.3               4.002065
21 315.0       85.0    NA               3.705882
22 726.7      206.3    NA               3.522540
23 463.2      133.9  10.0               3.459298
24 465.4      154.2  17.9               3.018158
25 514.2      181.4   8.1               2.834620
26 439.5      158.3  13.5               2.776374

In [ ]:
# repetimos el ejercicio anterior, en este caso utilizamos la funci√≥n round() para redondear el resultado y forzar decimales
df_james_bond %>% mutate(
  profit = round(`Box Office`/Budget,2)   # el segundo par√°metro de la funci√≥n round() establece el n√∫mero de decimales
  ,profit_EUR = round(profit / 1.2)       # por defecto, round() fuerza a n√∫meros enteros
) %>% arrange(desc(profit_EUR))

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  Goldfinger                      1964 Sean Connery   Guy Hamilton
3  From Russia with Love           1963 Sean Connery   Terence Young
4  Thunderball                     1965 Sean Connery   Terence Young
5  Live and Let Die                1973 Roger Moore    Guy Hamilton
6  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
7  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
8  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
9  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
10 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
11 For Your Eyes Only              1981 Roger Moore    John Glen
12 Octopussy                       1983 Roger Moore    John Glen
13 GoldenEye                       1995 Pierce Brosnan Martin Campbell
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 Skyfall                         2012 Daniel Craig   Sam Mendes
16 Never Say Never Again           1983 Sean Connery   Irvin Kershner
17 A View to a Kill                1985 Roger Moore    John Glen
18 The Living Daylights            1987 Timothy Dalton John Glen
19 Licence to Kill                 1989 Timothy Dalton John Glen
20 Casino Royale                   1967 David Niven    Ken Hughes
21 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Spectre                         2015 Daniel Craig   Sam Mendes
25 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
26 Quantum of Solace               2008 Daniel Craig   Marc Forster
   Box Office Budget Bond Actor Salary profit profit_EUR
1  448.8        7.0   0.6              64.11  53
2  820.4       18.6   3.2              44.11  37
3  543.8       12.6   1.6              43.16  36
4  848.1       41.9   4.7              20.24  17
5  460.3       30.8    NA              14.94  12
6  442.5       34.7   5.8              12.75  11
7  334.0       27.7    NA              12.06  10
8  533.0       45.1    NA              11.82  10
9  514.2       59.9   4.4               8.58   7
10 291.5       37.3   0.6               7.82   7
11 449.4       60.2    NA               7.47   6
12 373.8       53.9   7.8               6.94   6
13 518.5       76.9   5.1               6.74   6
14 535.0       91.5    NA               5.85   5
15 943.5      170.2  14.5               5.54   5
16 380.0       86.0    NA               4.42   4
17 275.2       54.5   9.1               5.05   4
18 313.5       68.8   5.2               4.56   4
19 250.9       56.7   7.9               4.43   4
20 315.0       85.0    NA               3.71   3
21 463.2      133.9  10.0               3.46   3
22 465.4      154.2  17.9               3.02   3
23 581.5      145.3   3.3               4.00   3
24 726.7      206.3    NA               3.52   3
25 439.5      158.3  13.5               2.78   2
26 514.2      181.4   8.1               2.83   2

#### Nuevas variables a partir de pruebas l√≥gicas

Con frecuencia, al trabajar con datos, buscamos crear nuevas variables asignando valores por fila partiendo de pruebas l√≥gicas. En estos casos, nos apartamos de asignar valores simplemente utilizando operaciones matem√°ticas entre otras variables existentes. 

Existen dos m√©todos en R particularmente populares para esta tarea:

*   `if_else()`
*   `case_when()`

Comenzamos utilizando la funci√≥n `dplyr::if_else()`.

```
dplyr::if_else(condition, value if true, value if false)
```

In [ ]:
# al definir una variable nueva utilizando funci√≥n mutate(), combinaremos con funci√≥n if_else() para crear una prueba l√≥gica
# creamos una nueva variable con una clasificaci√≥n de pel√≠culas TOP MOVIE vs. NOT IN THE TOP
df_james_bond %>% mutate(
  film_segment = if_else(
    Actor == 'Sean Connery' | Budget> 100,'TOP MOVIE','NOT IN THE TOP'
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              TOP MOVIE
2  543.8       12.6   1.6              TOP MOVIE
3  820.4       18.6   3.2              TOP MOVIE
4  848.1       41.9   4.7              TOP MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              TOP MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              TOP MOVIE
9  460.3       30.8    NA              NOT IN THE TOP
10 334.0       27.7    NA              NOT IN THE TOP
11 533.0       45.1    NA              NOT IN THE TOP
12 535.0       91.5    NA              NOT IN THE TOP
13 449.4       60.2    NA              NOT IN THE TOP
14 380.0       86.0    NA              TOP MOVIE
15 373.8       53.9   7.8              NOT IN THE TOP
16 275.2       54.5   9.1              NOT IN THE TOP
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              TOP MOVIE
21 439.5      158.3  13.5              TOP MOVIE
22 465.4      154.2  17.9              TOP MOVIE
23 581.5      145.3   3.3              TOP MOVIE
24 514.2      181.4   8.1              TOP MOVIE
25 943.5      170.2  14.5              TOP MOVIE
26 726.7      206.3    NA              TOP MOVIE

In [ ]:
# podemos anidar condiciones if_else() para crear pruebas complejas
df_james_bond %>% mutate(
  film_segment = if_else(
    Actor == 'Sean Connery' | Budget> 100
    ,'1st CLASS MOVIE'
    ,if_else(
      Actor == 'Roger Moore' | Budget> 100
      ,'2nd CLASS MOVIE'
      ,'NOT IN THE TOP'
    )
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              1st CLASS MOVIE
2  543.8       12.6   1.6              1st CLASS MOVIE
3  820.4       18.6   3.2              1st CLASS MOVIE
4  848.1       41.9   4.7              1st CLASS MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              1st CLASS MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              1st CLASS MOVIE
9  460.3       30.8    NA              2nd CLASS MOVIE
10 334.0       27.7    NA              2nd CLASS MOVIE
11 533.0       45.1    NA              2nd CLASS MOVIE
12 535.0       91.5    NA              2nd CLASS MOVIE
13 449.4       60.2    NA              2nd CLASS MOVIE
14 380.0       86.0    NA              1st CLASS MOVIE
15 373.8       53.9   7.8              2nd CLASS MOVIE
16 275.2       54.5   9.1              2nd CLASS MOVIE
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              1st CLASS MOVIE
21 439.5      158.3  13.5              1st CLASS MOVIE
22 465.4      154.2  17.9              1st CLASS MOVIE
23 581.5      145.3   3.3              1st CLASS MOVIE
24 514.2      181.4   8.1              1st CLASS MOVIE
25 943.5      170.2  14.5              1st CLASS MOVIE
26 726.7      206.3    NA              1st CLASS MOVIE

De forma alternativa, podemos utilizar la funci√≥n `dplyr::case_when()`.

```
dplyr::case_when(
   condition_1 ~ value_if_true
  ,condition_2 ~ value_if_true
  ,condition_3 ~ value_if_true
  ...
)
```

In [ ]:
# la funci√≥n case_when(), imitando mismo operador en lenguaje SQL, permite una sintaxis m√°s l√≠mpia para crear condiciones complejas
# observar que las condiciones tienen un orden jer√°rquico y no necesitan ser mutuamente excluyentes
# en caso de que se cumpla una condici√≥n, el sistema no seguir√° evaluando condiciones posteriores  

df_james_bond %>% mutate(
  film_segment = case_when(
    Actor == 'Sean Connery' | Budget > 100 ~ '1st CLASS MOVIE',     # condici√≥n 1
    Actor == 'Roger Moore' | Budget > 100 ~ '2st CLASS MOVIE',      # condici√≥n 2
    Actor == 'Daniel Craig' | Budget > 100 ~ '3rd CLASS MOVIE',     # condici√≥n 3
    TRUE == TRUE ~ 'NOT IN THE TOP'                                 # (opcional) esta condici√≥n se cumple siempre (TRUE = TRUE), por tanto nos sirve como "en caso de que ninguna otra se cumpla"
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              1st CLASS MOVIE
2  543.8       12.6   1.6              1st CLASS MOVIE
3  820.4       18.6   3.2              1st CLASS MOVIE
4  848.1       41.9   4.7              1st CLASS MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              1st CLASS MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              1st CLASS MOVIE
9  460.3       30.8    NA              2st CLASS MOVIE
10 334.0       27.7    NA              2st CLASS MOVIE
11 533.0       45.1    NA              2st CLASS MOVIE
12 535.0       91.5    NA              2st CLASS MOVIE
13 449.4       60.2    NA              2st CLASS MOVIE
14 380.0       86.0    NA              1st CLASS MOVIE
15 373.8       53.9   7.8              2st CLASS MOVIE
16 275.2       54.5   9.1              2st CLASS MOVIE
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              1st CLASS MOVIE
21 439.5      158.3  13.5              1st CLASS MOVIE
22 465.4      154.2  17.9              1st CLASS MOVIE
23 581.5      145.3   3.3              1st CLASS MOVIE
24 514.2      181.4   8.1              1st CLASS MOVIE
25 943.5      170.2  14.5              1st CLASS MOVIE
26 726.7      206.3    NA              1st CLASS MOVIE

# 5. Agregaciones
---

Una agregaci√≥n es una compilaci√≥n de datos en un *data frame*, donde alteramos la unidad de observaci√≥n original, llevando la informaci√≥n a un nivel superior de abstracci√≥n. Al realizar una agregaci√≥n, siempre utilizaremos una funci√≥n de agregaci√≥n espec√≠fica para determinar el tipo de operaci√≥n.

*Funciones b√°sicas de agregaci√≥n*

| Function  	  | Description        	|
|-----------	  |--------------------	|
| *sum()*    	  | Sum                	|
| *mean()*   	  | Mean               	|
| *median()* 	  | Median             	|
| *sd()*     	  | Standard deviation 	|
| *min()*    	  | Minimum            	|
| *max()*    	  | Maximum            	|
| *n()*      	  | Count              	|
| *n_distinct()*| Count distinct      |

In [ ]:
# importamos un df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", "‚Ä¶
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 19‚Ä¶
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "S‚Ä¶
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton", ‚Ä¶
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, 4‚Ä¶
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30.‚Ä¶
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA,‚Ä¶

### Introducci√≥n a agregaciones

Utilizamos la funci√≥n `dplyr::summarise()` para realizar una aggregaci√≥n.

```
dplyr::summarise(df, agg_1, agg_2, ...)
```

In [ ]:
# creamos una primer agregaci√≥n, donde obtendremos la suma total de la variable "box office"
## esto podr√≠a interpretarse como el total de ingresos generados por todas las pel√≠culas de James Bond 
df_james_bond %>% summarise(
  total_box_office = sum(`Box Office`)    # definimos el nombre de la variable y utilizamos una funci√≥n de agregaci√≥n para establecer un criterio
)

  total_box_office
1 12781.9

In [ ]:
# los valores nulos (NA) pueden causarnos problemas
## utilizaremos un par√°metro adicional en la funci√≥n de agregaci√≥n, para especificar que no tome en cuanta las observaciones con valores NA
## en el ejemplo a continuaci√≥n, sumaremos los salarios de los actores en todas las pel√≠culas
df_james_bond %>% summarise(
  total_bond_salary_v1 = sum(`Bond Actor Salary`)                
  ,total_bond_salary_v2 = sum(`Bond Actor Salary`,na.rm=TRUE)    # el segunda par√°metro "na.rm = TRUE" (NA remove) evita aquellas observaciones NA al realizar el c√°lculo
)
## la primer variable tendr√° valor NA, ya que al menos una observaci√≥n es NA

  total_bond_salary_v1 total_bond_salary_v2
1 NA                   123.3

In [ ]:
# a continuaci√≥n, utilizaremos distintas funciones de agregaci√≥n para jugar con los datos disponibles en el dataset
df_james_bond %>% summarise(
  avg_box_office = mean(`Box Office`)
  ,avg_budget = mean(Budget)
  ,avg_bond_actor_salary = mean(`Bond Actor Salary`,na.rm = TRUE)
)

  avg_box_office avg_budget avg_bond_actor_salary
1 491.6115       80.71923   6.85

### Agregaciones agrupadas

Podemos agrupar agregaciones utilizando la funci√≥n `dplyr::group_by()`.

```
dplyr::group_by(df, field_1, field_2, ...)
```

In [ ]:
# en el ejercicio a continuaci√≥n, buscaremos obtener m√©tricas seg√∫n Director de la pel√≠cula
# nota: la unidad de observaci√≥n original en el data frame es "pel√≠cula" (tenemos una pel√≠cula por fila)
# ahora lo queremos abstreaer a un nivel superior: director (existen varias pel√≠culas por director)

df_james_bond %>% group_by(
  Director
) %>% summarise(
  avg_box_office = mean(`Box Office`)
  ,median_budget = median(Budget)
  ,avg_bond_actor_salary = mean(`Bond Actor Salary`,na.rm = TRUE)
) %>% arrange(desc(avg_bond_actor_salary))

   Director           avg_box_office median_budget avg_bond_actor_salary
1  Lee Tamahori       465.4000       154.20        17.9
2  Sam Mendes         835.1000       188.25        14.5
3  Michael Apted      439.5000       158.30        13.5
4  Roger Spottiswoode 463.2000       133.90        10.0
5  Marc Forster       514.2000       181.40         8.1
6  John Glen          332.5600        56.70         7.5
7  Guy Hamilton       514.3000        29.25         4.5
8  Lewis Gilbert      527.4000        59.90         4.4
9  Martin Campbell    550.0000       111.10         4.2
10 Terence Young      613.5667        12.60         2.3
11 Peter R. Hunt      291.5000        37.30         0.6
12 Irvin Kershner     380.0000        86.00         NaN
13 Ken Hughes         315.0000        85.00         NaN

In [ ]:
# realizamos un ejercicio similar al anterior, agregando datos a nivel actor
df_james_bond %>% group_by(Actor) %>% summarise(
  total_salary = sum(`Bond Actor Salary`,na.rm = TRUE)
  ,max_salary_in_movie = max(`Bond Actor Salary`,na.rm = TRUE)  # funci√≥n max() aplicada a salario de actor en pel√≠cula (sueldo mayor en pel√≠cula)
  ,count_movies = n()                                           # n() cuenta observaciones (cantidad de pel√≠culas)
) %>% arrange(desc(total_salary))

Warning message in max(`Bond Actor Salary`, na.rm = TRUE):
‚Äúno non-missing arguments to max; returning -Inf‚Äù

  Actor          total_salary max_salary_in_movie count_movies
1 Pierce Brosnan 46.5         17.9                4
2 Daniel Craig   25.9         14.5                4
3 Sean Connery   20.3          5.8                7
4 Roger Moore    16.9          9.1                7
5 Timothy Dalton 13.1          7.9                2
6 George Lazenby  0.6          0.6                1
7 David Niven     0.0         -Inf                1

### Agregaciones condicionadas

En ocasiones, nos interesa definir un subconjunto espec√≠fico de observaciones (filas) para cada variable agregada. En otras palabras, podemos definir condiciones espec√≠ficas para cada variable al configurar una funci√≥n de agregaci√≥n.

In [ ]:
# en el ejemplo a continuaci√≥n, realizaremos una agregaci√≥n global (sin agrupar), pero definiendo condiciones en las variables agregadas
df_james_bond %>% summarise(
  sum_salary_Roger_Moore = sum(`Bond Actor Salary`[Actor == 'Roger Moore'],na.rm = TRUE)    # √∫nicamente suma de salarios cuando el actor es Rooger Moore
  ,sum_salary_Daniel_Craig = sum(`Bond Actor Salary`[Actor == 'Daniel Craig'],na.rm = TRUE) # √∫nicamente suma de salarios cuando el actor es Daniel Craig
)

  sum_salary_Roger_Moore sum_salary_Daniel_Craig
1 16.9                   25.9

In [ ]:
# las agregaciones condicionadas pueden utilizarse para "pivotear" (o "transponer") una tabla (es decir, cambiar filas por columnas)
# en el ejercicio debajo no utilizamos agregaci√≥n condicionada y obtenemos la misma informaci√≥n, reportada de otra forma

df_james_bond %>% filter(
  Actor %in% c('Roger Moore','Daniel Craig')            # filtramos por dos actores      
) %>% group_by(
  Actor                                                 # agrupamos por actor (quiero agrupar la variable agregada seg√∫n actor)
) %>% summarise(
  sum_salary = sum(`Bond Actor Salary`,na.rm = TRUE)    # suma de salarios en pel√≠culas
)

  Actor        sum_salary
1 Daniel Craig 25.9
2 Roger Moore  16.9

In [ ]:
# realizamos otro ejercicio de agregaciones condicionadas
# en este caso, agrupamos las m√©tricas agregadas seg√∫n Director (observar que siempre agrupamos seg√∫n variables categ√≥ricas)

df_james_bond %>% group_by(Director) %>% summarise(
  total_actor_salary = sum(`Bond Actor Salary`,na.rm = TRUE)                                # esta variable agregada no es condicionada, no estamos limitando las observaciones a ser agragadas
  ,sum_salary_Roger_Moore = sum(`Bond Actor Salary`[Actor == 'Roger Moore'],na.rm = TRUE)   # agregamos salarios para actor Roger Moore
  ,sum_salary_Daniel_Craig = sum(`Bond Actor Salary`[Actor == 'Daniel Craig'],na.rm = TRUE) # agregamos salarios para actor Daniel Craig
) %>% arrange(desc(total_actor_salary))

## como resultado, obtenemos (i) la suma total salarios de actores seg√∫n Director y (ii) la suma de salarios espec√≠fica para dos actores
## aparentemente, el actor Roger Moore √∫nicamente ha hecho pel√≠culas de James Bond con el director John Glen, por tanto el resto de directores tienen 0 a la variable agregada (condicionada a actor Roger Moore)

   Director           total_actor_salary sum_salary_Roger_Moore
1  John Glen          30.0               16.9
2  Lee Tamahori       17.9                0.0
3  Sam Mendes         14.5                0.0
4  Michael Apted      13.5                0.0
5  Roger Spottiswoode 10.0                0.0
6  Guy Hamilton        9.0                0.0
7  Martin Campbell     8.4                0.0
8  Marc Forster        8.1                0.0
9  Terence Young       6.9                0.0
10 Lewis Gilbert       4.4                0.0
11 Peter R. Hunt       0.6                0.0
12 Irvin Kershner      0.0                0.0
13 Ken Hughes          0.0                0.0
   sum_salary_Daniel_Craig
1   0.0
2   0.0
3  14.5
4   0.0
5   0.0
6   0.0
7   3.3
8   8.1
9   0.0
10  0.0
11  0.0
12  0.0
13  0.0

# 6. Ejercicios
---

### Ejercicio #1
Partiendo del dataset de personajes de Star Wars, filtrar por aquellos que sean originarios de "Tatooine", "Naboo" o "Kashyyyk". Seleccionar √∫nicamente columnas name, homeworld y species

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importamos df
df_star_wars = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv")
glimpse(df_star_wars)

Rows: 87
Columns: 10
$ name       <chr> "Mon Mothma", "Yoda", "Tion Medon", "Ratts Tyerell", "Luke ‚Ä¶
$ height     <int> 150, 66, 206, 79, 172, 96, 165, 228, 188, 188, 184, 150, 18‚Ä¶
$ mass       <dbl> NA, 17.0, 80.0, 15.0, 77.0, 32.0, 75.0, 112.0, 79.0, 84.0, ‚Ä¶
$ hair_color <chr> "auburn", "white", "none", "none", "blond", "", "brown", "b‚Ä¶
$ skin_color <chr> "fair", "green", "grey", "grey & blue", "fair", "white & bl‚Ä¶
$ eye_color  <chr> "blue", "brown", "black", "unknown", "blue", "red", "blue",‚Ä¶
$ birth_year <dbl> 48.0, 896.0, NA, NA, 19.0, 33.0, 47.0, 200.0, NA, 72.0, NA,‚Ä¶
$ gender     <chr> "female", "male", "male", "male", "male", "", "female", "ma‚Ä¶
$ homeworld  <chr> "Chandrila", "", "Utapau", "Aleen Minor", "Tatooine", "Nabo‚Ä¶
$ species    <chr> "Human", "Yoda's species", "Pau'an", "Aleena", "Human", "Dr‚Ä¶

### Ejercicio #2
Importa el dataset de valoraciones de pel√≠culas de IMDB, filtrar por pel√≠culas  
(i) cuyo actor principal (*actor_1_name*) sea Johnny Depp y su valoraci√≥n (*imdb score*) mayor a 7, o   
(ii) cuyo director sea James Cameron y su valoraci√≥n mayor a 8. 

Seleccionar √∫nicamente variables *actor_1_name*, *director_name*, *imdb_score*.

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/movies.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_movies = fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Col‚Ä¶
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Mend‚Ä¶
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635, ‚Ä¶
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141, ‚Ä¶
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, 0‚Ä¶
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, 1‚Ä¶
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory K‚Ä¶
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000, ‚Ä¶
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642, ‚Ä¶
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|A‚Ä¶
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wal‚Ä¶
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Worl‚Ä¶
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204, ‚Ä¶
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 46055‚Ä¶
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie Si‚Ä¶
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1,‚Ä¶
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "g‚Ä¶
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=f‚Ä¶
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, 1‚Ä¶
$ language                  <chr> "English", "English", "English", "English", ‚Ä¶
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA",‚Ä¶
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG-‚Ä¶
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000, ‚Ä¶
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 2010‚Ä¶
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553, ‚Ä¶
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5,‚Ä¶
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.85‚Ä¶
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000,‚Ä¶

### Ejercicio #3
Importa el dataset con datos del WHO (*World Health Organization*) y crea una nueva variable que identifique si un pa√≠s est√° por debajo de la mediana de PIB per c√°pita mundial. Filtra por *pa√≠ses europeos que est√©n por debajo de la mediana mundial de PIB per c√°pita* y selecciona √∫nicamente las variables relevantes.

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_who = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv")
glimpse(df_who)

Rows: 196
Columns: 13
$ Country                                                  <chr> "Afghanistan"‚Ä¶
$ CountryID                                                <int> 1, 2, 3, 4, 5‚Ä¶
$ ContinentID                                              <int> 1, 2, 3, 2, 3‚Ä¶
$ `Adolescent fertility rate (%)`                          <int> 151, 27, 6, N‚Ä¶
$ `Adult literacy rate (%)`                                <dbl> 28.0, 98.7, 6‚Ä¶
$ `Gross national income per capita (PPP international $)` <int> NA, 6000, 594‚Ä¶
$ `Net primary school enrolment ratio female (%)`          <int> NA, 93, 94, 8‚Ä¶
$ `Net primary school enrolment ratio male (%)`            <int> NA, 94, 96, 8‚Ä¶
$ `Population (in thousands) total`                        <int> 26088, 3172, ‚Ä¶
$ `Population annual growth rate (%)`                      <dbl> 4.0, 0.6, 1.5‚Ä¶
$ `Population in urban areas (%)`                          <int> 23, 46, 64, 9‚Ä¶
$ `Population living below the poverty line`               <dbl> NA, 2.0, NA, ‚Ä¶
$ Continent                                                <chr> "Middle East"‚Ä¶

### Ejercicio #4
Agregar *revenue* total, seg√≠n sector productivo. Ordenar de forma descendente por *revenue*. Para las empresas incluidas en el ranking, ¬øcu√°les son los sectores que generan m√°s facturaci√≥n?


> *Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_fortune1000 = fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune1000)

Rows: 1,000
Columns: 8
$ Rank      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1‚Ä¶
$ Company   <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hathaway", "Mc‚Ä¶
$ Sector    <chr> "Retailing", "Energy", "Technology", "Financials", "Health C‚Ä¶
$ Industry  <chr> "General Merchandisers", "Petroleum Refining", "Computers, O‚Ä¶
$ Location  <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA", "Omaha, NE‚Ä¶
$ Revenue   <int> 482130, 246204, 233715, 210821, 181241, 157107, 153290, 1523‚Ä¶
$ Profits   <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 9687, 7373, 13‚Ä¶
$ Employees <int> 2300000, 75600, 110000, 331000, 70400, 200000, 199000, 21500‚Ä¶

### Ejercicio #5
Partiendo del dataset con datos de empleados estatales, agregar la mediana de salario base seg√∫n departamento. Tener en cuenta √∫nicamente empleados full time.


> *Dataset https://data-wizards.s3.amazonaws.com/datasets/employees.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_employees = fread("https://data-wizards.s3.amazonaws.com/datasets/employees.csv")
glimpse(df_employees)

Rows: 2,000
Columns: 10
$ UNIQUE_ID         <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15‚Ä¶
$ POSITION_TITLE    <chr> "ASSISTANT DIRECTOR (EX LVL)", "LIBRARY ASSISTANT", ‚Ä¶
$ DEPARTMENT        <chr> "Municipal Courts Department", "Library", "Houston P‚Ä¶
$ BASE_SALARY       <dbl> 121862, 26125, 45279, 63166, 56347, 66614, 71680, 42‚Ä¶
$ RACE              <chr> "Hispanic/Latino", "Hispanic/Latino", "White", "Whit‚Ä¶
$ EMPLOYMENT_TYPE   <chr> "Full Time", "Full Time", "Full Time", "Full Time", ‚Ä¶
$ GENDER            <chr> "Female", "Female", "Male", "Male", "Male", "Male", ‚Ä¶
$ EMPLOYMENT_STATUS <chr> "Active", "Active", "Active", "Active", "Active", "A‚Ä¶
$ HIRE_DATE         <IDate> 2006-06-12, 2000-07-19, 2015-02-03, 1982-02-08, 19‚Ä¶
$ JOB_DATE          <IDate> 2012-10-13, 2010-09-18, 2015-02-03, 1991-05-25, 19‚Ä¶

### Ejercicio #6
El dataset del WHO (World Health Organization) contiene data de todos los pa√≠ses del mundo. Analizar la mediana y dispersi√≥n del PIB per c√°pita de los distintos continentes. ¬øQu√© podemos decir sobre la dispersi√≥n del PIB per capita en las distintas regiones? ¬øen qu√© regiones los pa√≠ses tienen mayor nivel de disparidad en t√©rminos de PIB per capita?

##### Se requiere calcular las siguiente variables agregadas seg√∫n continente:


*   Mediana de PIB per c√°pita
*   Deviaci√≥n est√°ndar de PIB per c√°pita
*   Coeficiente de variaci√≥n de PIB p√©r c√°pita (sd/mediana)

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_who = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv")
glimpse(df_who)

Rows: 196
Columns: 13
$ Country                                                  <chr> "Afghanistan"‚Ä¶
$ CountryID                                                <int> 1, 2, 3, 4, 5‚Ä¶
$ ContinentID                                              <int> 1, 2, 3, 2, 3‚Ä¶
$ `Adolescent fertility rate (%)`                          <int> 151, 27, 6, N‚Ä¶
$ `Adult literacy rate (%)`                                <dbl> 28.0, 98.7, 6‚Ä¶
$ `Gross national income per capita (PPP international $)` <int> NA, 6000, 594‚Ä¶
$ `Net primary school enrolment ratio female (%)`          <int> NA, 93, 94, 8‚Ä¶
$ `Net primary school enrolment ratio male (%)`            <int> NA, 94, 96, 8‚Ä¶
$ `Population (in thousands) total`                        <int> 26088, 3172, ‚Ä¶
$ `Population annual growth rate (%)`                      <dbl> 4.0, 0.6, 1.5‚Ä¶
$ `Population in urban areas (%)`                          <int> 23, 46, 64, 9‚Ä¶
$ `Population living below the poverty line`               <dbl> NA, 2.0, NA, ‚Ä¶
$ Continent                                                <chr> "Middle East"‚Ä¶

### Ejercicio #7
El dataset a continuaci√≥n contiene un ranking con los videojuegos m√°s vendido de la historia. Agregar ventas totales (todas las regiones) seg√∫n *publisher* para los videojuegos de (√∫nicamente) tres g√©neros: *sports*, *action* y *adventure*. Crear m√©tricas espec√≠ficas agregadas para cada uno de los tres g√©neros

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_videogames_games.csv*

In [ ]:
# importamos las librer√≠as
require(dplyr)
require(data.table)

In [ ]:
# importar el dataset
df_videogames_games = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_videogames_games.csv")
glimpse(df_videogames_games)

Rows: 15,947
Columns: 10
$ rank          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1‚Ä¶
$ name          <chr> "Wii Sports", "Super Mario Bros.", "Mario Kart Wii", "Wi‚Ä¶
$ platform_code <chr> "Wii", "NES", "Wii", "Wii", "GB", "GB", "DS", "Wii", "Wi‚Ä¶
$ year          <int> 2006, 1985, 2008, 2009, 1996, 1989, 2006, 2006, 2009, 19‚Ä¶
$ genre         <chr> "Sports", "Platform", "Racing", "Sports", "Role-Playing"‚Ä¶
$ publisher     <chr> "Nintendo", "Nintendo", "Nintendo", "Nintendo", "Nintend‚Ä¶
$ NA_sales      <dbl> 41.49, 29.08, 15.85, 15.75, 11.27, 23.20, 11.38, 14.03, ‚Ä¶
$ EU_sales      <dbl> 29.02, 3.58, 12.88, 11.01, 8.89, 2.26, 9.23, 9.20, 7.06,‚Ä¶
$ JP_sales      <dbl> 3.77, 6.81, 3.79, 3.28, 10.22, 4.22, 6.50, 2.93, 4.70, 0‚Ä¶
$ Other_sales   <dbl> 8.46, 0.77, 3.31, 2.96, 1.00, 0.58, 2.90, 2.85, 2.26, 0.‚Ä¶